.sidebar {
    text-align: left;
    height: 100%;
    overflow-y: auto;
    max-width: 400px;
    float: left;
}

.sidebar__chartlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar__button {
    background-color: none;
    border: none;
    padding: 10px 15px;
    width: 100%;
    cursor: pointer;
}